@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-radius: 6px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1f2937;
  display: flex;
  justify-content: center;
}
#root {
  max-width: 960px;
  margin: 0 10px 0 10px;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::placeholder {
  padding: 0;
}
input {
  outline: none;
  border-radius: 2px;
}

.appearance {
  /* -webkit-appearance: none; */
  margin: 0;
}

button:disabled {
  
}

select {
  max-width: 11rem;
  min-width: 0.4rem;
}
/* :root {
  --ionicon-stroke-width: 32px;
  --ion-color-primary: #1f2937;
  --ion-color-secondary: #fa0;
  --ion-color-tertiary: #f4a942;
  --ion-color-success: #10dc60;
  --ion-color-warning: #ffce00;
  --ion-color-danger: #f14141;
  --ion-color-light: #f4f5f8;
  --ion-color-medium: #989aa2;
  --ion-color-dark: #222428;
} */
